@import "./mixins.css";

$title-font: "Playfair Display", "Times New Roman", serif;
$body-font: system-ui, Helvetica, serif;

$forest: #364333;

$fern: #5c7457;
$spring-bud: #dfd9e2;
$pink-bud: #f9c9d1;
$brown-sugar: #b96d40;

html {
  --foreground-color: $fern;
  --hover-color: $forest;
  --background-color: $spring-bud;
  --accent-color: $brown-sugar;
  box-sizing: border-box;
}

html.dark {
  --foreground-color: $spring-bud;
  --hover-color: $pink-bud;
  --background-color: $fern;
  --accent-color: $brown-sugar;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: var(--background-color);
  color: var(--foreground-color);
  font-family: $body-font;
  transition: all 0.2s;
}

h1,
h2,
h3,
h4 {
  font-family: $title-font;
}

h1 {
  font-size: 4rem;
  font-weight: normal;
  margin: 0 0 2rem 0;

  @include tablet {
    font-size: 6rem;
  }
}

button {
  background-color: transparent;
  border: none;
}

a:focus,
input:focus,
button:focus {
  /* outline-color: var(--accent-color); */
  outline: 0;
}

p {
  margin: 0;
  line-height: 1.25;

  & + p {
    margin-top: 1rem;
  }
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

svg {
  fill: var(--foreground-color);
  width: 2rem;
  height: auto;
}

section {
  margin-top: 9rem;
}

.fader {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 2rem;
  background: linear-gradient(
    180deg,
    var(--background-color) 0%,
    transparent 100%
  );
}

.dark-mode {
  position: absolute;
  right: 1rem;
  top: 1rem;

  &:hover,
  &:focus {
    svg {
      fill: var(--hover-color);
      transition: transform 0.2s;
    }
  }
}

.social-link-list {
  display: flex;
  margin-top: 1rem;

  li {
    margin-right: 1rem;
  }

  a:hover,
  a:focus {
    svg {
      fill: var(--hover-color);
    }
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1rem;
}

.title-section {
  max-width: 600px;
}

.title-section__details,
.title-section__description {
  @include tablet {
    display: inline-block;
    vertical-align: top;
  }
}

.title-section__details {
  font-size: 1.3rem;
  text-transform: uppercase;
  margin-bottom: 2rem;

  @include tablet {
    width: 40%;
  }
}

.title-section__description {
  @include tablet {
    width: 60%;
  }
}

.portfolio-section {
  max-width: 1000px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-gap: 3.5rem;

  @include tablet {
    grid-template-columns: 1fr 1fr;
  }

  @include desktop {
    grid-template-columns: 1fr 1fr 1fr;
  }

  h2 {
    text-align: center;
    padding: 0 1rem;
  }

  .screen-shot-link {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .screen-shot {
    max-width: 80%;

    @include tablet {
      max-width: 100%;
    }
  }

  p {
    margin-top: 1.5rem;
    padding: 0 0.5rem;
  }

  .tools {
    display: flex;
    align-items: center;
    padding: 1.5rem 0.5rem 0 0.5rem;

    svg {
      padding-left: 0.5rem;
    }
  }

  .link-buttons {
    padding: 0 0.5rem;
    margin-top: auto;

    svg {
      fill: var(--background-color);
      height: 1.5rem;
      margin-left: 1rem;
    }
  }
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1.5rem;
  margin-top: 1rem;
  text-decoration: none;
  color: var(--background-color);
  background-color: var(--foreground-color);
  border: none;

  &:hover {
    background-color: var(--hover-color);
  }
}

.portfolio-section__tile {
  display: flex;
  flex-direction: column;
}

.contact-section {
  width: 100%;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 9rem;

  h2 {
    margin: 0;
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }
}

form {
  margin-top: 2rem;

  input,
  textarea {
    display: block;
    margin-top: 0.5rem;
    width: 100%;
    border: solid 1px var(--foreground-color);
    background-color: var(--background-color);
    padding: 1rem;
  }

  textarea {
    height: 6rem;
  }

  .btn {
    width: 100%;
  }

  .submit {
    min-height: 40px;
  }
}
