---
layout: container
title: Evan Harrison
description: Evan Harrison is a web developer based in Raleigh, NC.
fonts: Playfair+Display:wght@700
js: home
css: home
eleventyNavigation:
  key: Index
social_links:
  - link: https://github.com/esharri2
    icon: github.svg
  - link: https://www.linkedin.com/in/evan-harrison/
    icon: linkedin.svg
  - link: mailto:esharri2@gmail.com
    icon: email.svg
portfolio:
  - title: Vois
    img: vois-screen.png
    alt: "Screenshot of Vois app"
    description:
      A talking timer for yoga and exercise. A progressive web app built with
      React, Vois allows people to build and save exercise sequences, where each
      step is read aloud at specified times. The app uses the Web Speech API.
    link: https://www.vois.app
    github_link: https://github.com/sequence
    tools:
      - gatsby
      - node-js
      - react
      - styled-components
  - title: Trio
    img: trio.png
    alt: "Screenshot of Trio app"
    description:
      A three piece synthesizer and visualizer. Uses the Web Audio API via
      Tone.js and Three.js.
    link: https://www.evan-harrison.com/trio
    github_link: https://github.com/portfolio
    tools:
      - eleventy
      - webpack
  - title: Cindy Wagner Fine Art
    img: cwfa-screen.png
    alt: "Screenshot of Cindy Wagner Fine Art site"
    description:
      A website and gallery for Charlotte, NC artist Cindy Wagner. This Gatsby
      site uses Strapi, a headless CMS, for content authoring and triggering
      deployments.
    link: https://www.cindywagnerfineart.com
    github_link: https://github.com/cw-art-site
    tools:
      - gatsby
      - node-js
      - react
---

<div class="fader"></div>
<button class="dark-mode">
  {% include "./media/icons/brightness-medium.svg" %}
</button>
<section class="title-section">
  <h1>{{ title }}</h1>
  <div class="title-section__details">
    <p>Web Developer</p>
    <p>Raleigh, NC</p>
    <ul class="social-link-list">
      {% for item in social_links %}
      <li>
        <a href="{{ item.link }}">
          {% set iconPath %}./media/icons/{{ item.icon }}{% endset %}
          {{ item.icon | log }}
          {{ iconPath | log }}
          {% include iconPath %}
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>
  <div class="title-section__description">
    <p class="title-font">Welcome!</p>
    <p>
      I mostly work on big websites for Fortune 500 companies. But I also love
      building small, impactful sites for people who are doing and making cool
      things.
    </p>
    <p>
      Using full stack JavaScript, CSS, and semantic HTML, I develop sites and
      applications with a user-first mindset: accessible, performant, pleasing,
      and powerful.
    </p>
    <p>Check out my work below.</p>
  </div>
</section>

<section class="portfolio-section">
  {% for item in portfolio %}
  <div class="portfolio-section__tile">
    <h2>{{ item.title }}</h2>
    <a class="screen-shot-link" href="{{ item.link }}">
      <img
        alt="{{ item.alt }}"
        class="screen-shot"
        loading="lazy"
        src="media/{{ item.img }}"
      />
    </a>
    <p>{{ item.description }}</p>
    <ul class="tools">
      <div>Built with:</div>
      {% for tool in item.tools%}
      <li>
        {% set iconPath %}./media/icons/{{ tool }}.svg{% endset %} {% include
        iconPath %}
      </li>
      {% endfor %}
    </ul>
    <div class="link-buttons">
      <a class="btn" href="{{ item.link }}"
        >Check it out {% include "./media/icons/arrow-thin-right.svg" %}</a
      >
      <a class="btn" href="{{ item.github_link }}"
        >See the code {% include "./media/icons/github.svg" %}
      </a>
    </div>
  </div>
  {% endfor %}
</section>

<section class="contact-section">
  <h2>
    Thanks for checking out my work.
  </h2>
  <p>
    Have a project in mind? Want to collaborate? Get in touch!
  </p>
  <form name="contact" method="POST" data-netlify="true">
    <p>
      <label>Your Name: <input type="text" name="name" /></label>
    </p>
    <p>
      <label>Your Email: <input type="email" name="email" /></label>
    </p>
    <p>
      <label
        >Message:
        <textarea name="message"></textarea>
      </label>
    </p>
    <p>
      <button class="btn submit" type="submit">
        Send
      </button>
    </p>
  </form>
</section>
