---
layout: default
js: trio
css: trio
fonts: Inter:wght@200
eleventyNavigation:
  key: Trio
drones:
  - a
  - b
  - c
effects:
  - reverb
  - distortion
---


<div class="container">
  <div class="wrapper">
    <h1>trio</h1>
      <div class="drones">
        {% for drone in drones %}
          <section data-id="{{drone}}" class="pad">
          <div class="viz"></div>
            <div data-id="{{drone}}" class="drop-target {{drone}}">
              <div class="draggable" id="{{drone}}" draggable="true"></div>
            </div>
            <button data-id="{{drone}}" class="play"><span class="icon"></span></button>
            <div class="controls">
              {% for effect in effects %}
                <label for="points">{{effect}}</label>
                <input type="range" id="{{effect}}" name="{{effect}}" min="0" max="1" step="0.02">
              {% endfor %}
            </div>
          </section>
        {% endfor %}
      </div>
  </div>
</div>