<h1 class="font-display mt-4 lg:mt-3 mb-2 text-2xl {% unless sentence_case %} uppercase {% endunless %} lg:text-3xl {% unless visible %} lg:invisible lg:mt-3 {% endunless %} {{classes}}">{{text}}</h1>