<nav>
    <ul>
        {% for item in navigation %}
            <li class=" ">
                <a href="{{item.key}}">{{item.title}}
                </a>
            </li>
        {% endfor %}
    </ul>
</nav>
