<a
    class="skip-to-content z-10 text-dark bg-light sr-only
        focus:not-sr-only fixed top-0 left-0 block border
        border-solid border-dark dark:border-light pr-4"
    href="#main">Skip to content
</a>
