<div style="padding-bottom: 56.25%" class="relative h-0">

<iframe
    allow="accelerometer; autoplay; clipboard-write;
        encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
    class="absolute top-0 left-0 h-full w-full"
    frameborder="0"
    src="{{embed_url}}"
    ></iframe>

</div>