---
title: About me
social_links:
  - link: https://bandcamp.com/evanh
    icon: bandcamp.svg
    label: Bandcamp
  - link: https://github.com/esharri2
    icon: github.svg
    label: Github
  - link: https://www.linkedin.com/in/evan-harrison/
    icon: linkedin.svg
    label: Linkedin

---
<div class="container">
    {% render 'h1', text:title %}
    <p>I am a web developer in Raleigh, North Carolina. I mostly work on big websites for big companies. But I also enjoy building small, impactful sites for people who are doing and making cool things. I try to develop sites and applications with a user-first mindset so that the final result is accessible, performant, pleasing, and powerful.</p>
    {% render 'h2', text: 'Follow me on:'%}
    <ul class="flex">
        {% for social in social_links%}
            {% assign icon = '/_includes/icons/' | append: social.icon%}
            <a class="flex text-xs uppercase flex-col justify-center items-center mr-2 transition-all hover:text-dark-darkened border-opacity-0 border-b-2 border-dashed border-dark hover:border-opacity-100" href="{{social.link}}">{{icon | svgContents:'w-3 h-3'}}<span class="mt-1">{{social.label}}</span>
            </a>
        {% endfor %}
    </ul>
</div>
