---js
{
  title: 'Blog',
  permalink: false,
  pagination: {
    data: 'collections.post',
    size: 4,
    alias: 'posts',
    reverse: true,
    before: function(data) {
      return data.filter((item) => item.data.permalink !== false);
    }
  }
}
---
<div class="container">
    {% include 'heading', level: 1, text: title %}
    {% include 'bloglist', posts: posts%}
    {% include 'pagination', pagination: pagination %}
</div> 