<div
    class="container">
    <h1>Blog</h1>
    <ul>
        <li
            class="pt-8">
            <a
                class="text-xl"
                href="{{post.url}}">{{post.data.title}}
            </a>
            <p>{{post.data.date}}
            </p>
            <p>{{post.data.description}}
            </p>
        </li>`;

    </ul>
</div> 