---js
{
  title: 'Recent posts',
  pagination: {
    data: 'collections.post',
    size: 4,
    alias: 'posts',
    reverse: true,
    before: function(data) {
      return data.filter((item) => item.data.permalink !== false);
    }
  }
}
---

<div class="container">
    {% render 'h1', text: title %}
    {% render 'bloglist', posts: posts%} 
    {% capture icon %}
        {{ '/_includes/icons/arrow-thin-right.svg' | svgContents:'ml-3 w-3 h-3' }}
    {% endcapture %}
    {% render 'button', label: "View all blogs", href: "/blog", icon: icon %}
</div>
