<!DOCTYPE html>
<html lang="en">
    {% render 'head', site: site, page: page, title: title %}
    <body class="relative min-h-screen font-body text-dark
            dark:text-light bg-light dark:bg-dark ">
        {% render 'ie-notice'%}
        {% render 'skip-to-content' %}
        {% render 'back-to-top' %}
        <div class="flex justify-end">
            {% include 'color-switch' %}
        </div>
        <header class="container pt-10vh">
            <a href="/">
                <h1 class="uppercase font-extrabold text-4xl mb-1 mt-4
                    font-display">{{site.title}}</h1>
            </a>
            <p>Developer<span aria-hidden="true" class="px-1 lg:px-2">+</span>Writer<span aria-hidden="true" class="px-1 lg:px-2">+</span>Raleigh, NC</p>
            <!-- <div class="container"> -->
            {% render 'navigation', navigation: navigation, page: page %}
            <!-- </div> -->
        </header>
        <main class="mb-6 leading-relaxed	" id="main">
            {{ content }}
        </main>
        {% comment %}
        {% render 'footer', builtBy: site.builtBy, navigation: navigation_footer %}
        {% endcomment %}
    </body>
</html>
