p + p {
  @apply pt-3;
}

p {
  @apply max-w-screen-md;
}

svg {
  fill: currentColor;
}

*:focus-visible {
  outline-color: currentColor;
  outline-offset: 6px;
}

input:focus-visible, textarea:focus-visible {
    outline-offset: -1px;
}

*:focus:not(:focus-visible) {
  outline: none;
}
